 {% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        crossorigin="anonymous">

    </head>
    <body>
        <p>{{message}}</p>
        <form action="{% url 'check' %}" method="post">
            {% csrf_token %}
            {{form.as_p}}
            <input type="submit" value="検索">
            
        </form>

    </body>
</htm>